{% extends 'layout.njk' %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render("","product_single container") %}
    <div class="gallery">
        <div class="highlight">
            {% if not product.files[0] %}
            <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
            {% else %}
            <img src="{{product.files[0].src}}" alt="{{product.files[0].name}}" onclick="LightBox.open()">
            {% endif %}
            
            <div class="lightbox_target">
                <img src="{{product.files[0].src}}" alt="{{product.files[0].name}}">
                <a href="#" class="lightbox_close" onclick="LightBox.close()">
                    <i class="material-icons">close</i>
                </a>
            </div>

        </div>
        <div class="gallery_preview">
            {% for image in product.files %}
            <img 
            src="{{image.src}}" 
            alt="{{image.name}}"
            {% if loop.index0 == 0 %}
            class="active"
            {% endif %}
            onclick="ImageGallery.setImage(event)"
            >

            {% endfor %}
        </div>
    </div>
    <div class="info">
        <h1>{{product.name}}</h1>
        <div class="published">
            Publicado em {{product.published.day}} às {{product.published.hour}}
        </div>

        <div class="description">
            asldkjasflksajfsa
        </div>

        <div class="price_buy">
            <div class="price">
                {{product.formatedPrice}}
                {% if product.formatedOld_price != product.formatedPrice %}
                <span class="old_price">{{product.formatedOld_price}}</span>
                {% endif %}
            </div>


            {% if (session.userId) and (product.user_id == session.userId)%}
                <p class="unavailable">Você é o vendedor</p>
            {% else %}

                <div class="buy">
                    {% if product.status == 0 %}
                    <p class="unavailable">Indisponível</p>
                    {% elseif product.quantity == 0%}
                        <p class="unavailable">Fora De Estoque</p>
                    {% else %}
                        <form action="/users/orders" method="post">
                            <input type="hidden" name="id" value="{{product.id}}">
                            <button class="button" type="submit">Comprar</button>
                        </form>

                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endcall %}
{% endblock content%}