
:root{
    --primary-color:#fd851f;
    --secondary-color:#1f83fd;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

html,body{
    min-height: 100vh;
    background-color: #f9f9f9;
}

body{
    font-family: "Roboto",sans-serif;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.container{
    width: 90%;
    max-width: 940px;
    margin:0 auto;
}

.button{
    background-color: var(--primary-color);
    color: white;
    
    display: block;
    margin: 16px 0;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;

    /*Para colocar o botão pra baixo */
    align-self: end;

    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    transition: all 300ms;
}

.button:hover{
    background-color: #d7780b;
}

.button.edit{
    background-color: var(--secondary-color);
}

.button.edit:hover{
    background-color: #065ac1;
}

.button.delete{
    background-color: lightgray;
}

.button.delete:hover{
    background-color: rgb(223,62,62);
}

/* HEADER */

header,footer{
    background-color: black;
    color: white;

    width: 100%;
    padding:32px 0; 

    text-align: center;
}

header .container{
    display: grid;
    grid-template-columns: 220px 1fr 280px;
    align-items: center;
    gap: 24px;
}

header .container a{
    justify-self:start ;
}

/*Logo*/

.logo h1{
    color: white;
    font-size: 36px;
    line-height: 46px;
}

.logo h2{
    color: var(--primary-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
}

/* HEADER SEARCH */

.search input{
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    font-size: 16px;
}

/* Primary Menu */

nav.primary ul{
    display: flex;
    justify-content: space-between;
}

nav.primary ul li a{
    display: flex;
    align-items: center;
    color: white;
}

nav.primary ul li a:hover{
    color: var(--primary-color);
    transition: 300ms;
}

nav.primary ul li a i {
    margin-right: 8px;
}

/* Product form */

section.form{
    background-color: white;
    box-shadow: 2px 2px 2px -4px rgba(60,60,60,0.9);
    border: 1px solid #efefef;

    padding: 32px 24px;
    margin: 32px auto;
    border-radius: 4px;
    
    max-width: 700px;
    width: 90%;
}

section.form h3{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);

    margin-bottom: 16px;
}

form .fields{
    margin-bottom: 64px;
}

form .item{
    margin-bottom: 16px;
}


form .item div:nth-child(1){
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}

form .item .input input,
form .item input[type='text'],
form .item input[type='number'],
form .item textarea,
form .item select{
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px -4px rgba(63,63,63,.9);
    border: 1px solid #efefef;

    font-size: 16px;
}

form .item select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto,100%;
}

form .item textarea{
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
}

form .item span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 8px 4px 0 0;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    border-radius: 16px;
    text-align: center;
}

/* FOTOS UPLOAD */

form .item #photos-upload{
    position: relative;

    display: block;
    overflow: hidden;

    width: 200px;
}

form .item #photos-upload p{
    padding: 8px 16px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

form .item #photos-input{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    width: 100%;
    margin:8px 0;
}

form .item #photos-preview img{
    width: 100%;
    height: 150px;

    object-fit: cover;
}

form .item #photos-preview .photo{
    position: relative;
}

form .item #photos-preview .photo i{
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(255,255,255,0.8);
    color: red;
    
    width: 100%;
    height: 100%;
    font-size: 500%;
    cursor: pointer;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

form .item #photos-preview .photo:hover i{
    opacity: 1;
    transition: opacity 200ms;
}

/* PRODUCT VIEW */

.product_single{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(63,63,63,.9);
    border: 1px solid #efefef;
    border-radius: 4px;
}

.product_single .gallery{
    width: 100%;

}

.product_single .highlight > img{
    width: 100%;
    height: 280px;
    object-fit: none;
    object-position: 50% 50%;
    border: 1px solid #efefef;
    cursor: zoom-in;
}

.product_single .gallery_preview{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2px;
}

.product_single .gallery_preview img{
    height: 100px;
    width: 100%;

    object-fit: cover;
    opacity: 0.6;
    cursor: pointer;
}

.product_single .gallery_preview img:hover,
.product_single .gallery_preview img.active{
    opacity: 1;
    transition: 200ms;
}

/* LIGHT BOX */

.product_single .highlight .lightbox_target{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);

    overflow: hidden;
    z-index: 100;
    top: -100%;
    opacity: 0;
    left: 0;

    transition: opacity 400ms ;
}

.product_single .highlight .lightbox_target img{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    box-shadow: 0 0 8px rgba(0,0,0,.3);
    width: 90%;
    height: 90%;

    object-fit: contain;
}

.product_single .highlight a.lightbox_close{
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-80px;
    transition: 400ms;
}



/*PRODUCT SINGLE INFO */

.product_single .info{
    display: grid;
    grid-template-rows: auto 40px 2fr 1fr;
}

.product_single .info h1 {
    font-size: 32px;
    line-height: 42px;
    color: #333;
    text-transform: uppercase;
}

.product_single .info .published{
    color: #888;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.4px;
}

.product_single .info .price_buy{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;
    border: 1px solid #eee;
}

.product_single .info .price_buy .price{
    font-size: 24px;
    color: #333;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.product_single .info .price_buy .price .old_price{
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    margin-left: 8px;
    font-weight: normal;
}

.product_single .info .price_buy .buy{
    margin-right: 8px;
}

.product_single .info .price_buy .buy button{
    background-color: var(--secondary-color);
    font-size: 14px;
    letter-spacing: 0.4px;
}

/* SHOP */

.shop h2{
    margin: 48px 0;
}

.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
}

.shop .product{
    display: grid;
}

.shop .product .image{
    padding-top: 56.25%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.shop .items h4{
    margin: 8px 0;
    font-weight: 300;
    color: #999;
}

.shop .items p{
    font-weight: 300;
    font-size: 24px;
    margin-top: 8px;
    color: #101010;
}

.shop .items .old_price{
    text-decoration: line-through;
    padding: 0;
    margin: 4px 0 ;
    font-size: 14px;
    color: #999;

}

/* SEARCH PAGE */

.search-products{
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 48px;
}

.search-products .header{
    margin-bottom: 48px;
    font-size: 14px;
    color: #333;
}

.search-products .header h2{
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.search-products  nav h4{
    margin-bottom: 16px;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}

.search-products  nav ul li{
    margin: 4px 0;
}
.search-products  nav ul li a{
    color:var(--primary-color);
    font-weight: 500;
}

.search-products  nav ul li a:hover{
    color: #000000;
    transition: 200ms;
    font-weight: 700;
}
